# Ignoring token file
token.h

# Audiofiles
audio*

# Folders
curl/
.vscode/

# Executable bot
telegram_bot

# Google cloud key
credentials-key.json

# Big files
transcribe
langhandler.db