# Ignoring token file
token.h

# Audiofiles
audio*

# Folders
curl/
.vscode/

# 
telegram_bot

# Google cloud key
credentials-key.json
sync-request.json

# backup func file
hz.cpp

# Big files
transcribe
streaming_transcribe_singlethread
libgoogle_cloud_cpp_cloud_dialogflow_v2_protos.a
libgoogle_cloud_cpp_monitoring_protos.a
libgrpc_unsecure.a
libgrpc.a
libprotocd.a
async_transcribe
streaming_transcribe
streaming_transcribe_coroutines